.App {
  display: flex;
  text-align: center;
  height: 100vh;
}

.title-container{
  width: 100%;
  text-align: center;
  
}

.search-container{
  width: 100%;
}

.movie{
  background-color: #522424;
  border-radius: 3px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  position: relative;
  margin: 1rem;
  width: 150px;
}

.movie img{
  max-width: 100%;
  object-fit: cover;
}


.movie-info{
  display: flex;
  font-size: 10px;
  justify-content: space-between;
  padding: 0.5rem;
  text-decoration: none!important;
}

.movie-info h3{
  margin: 0;
}

.movie-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 50px;
}

.text {
  color: white;
  text-decoration: none !important;
}

nav{
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #7a3131;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
}

.NavLinks{
  max-width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
  text-decoration: none;
  color: white
}

.link-text{
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

.movie-over{
  background-color: white;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0 -3px 5px rgba(0, 0, 0, 0.1);
  color: #3B3A3A;
  font-size: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: auto;
  max-height: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease-in-out;
}


.movie:hover .movie-over{
  transform: translateY(0%);
}


.search {
  background-color: transparent;
  border: 2px solid #522424;
  color:white;
  font-size: 1.2rem;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
}

.search:focus{
  outline: none;
}

.tag{
  background-color: #311313;
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 5px;
}



.tag.green{
 color: rgb(3, 199, 3);
}
.tag.orange{
  color: orange
}
.tag.red{
  color: red;
}

.link-image{
  width: 32px;
  height: 30px;
}

.ListButton{
  position: relative;
}

.suggestion-info{
   display: flex;
  font-size: 12px;
  justify-content: space-between;
  padding: 0.5rem;
  text-decoration: none!important;
}

.suggestions-container{
  display: flex;
  border-radius: 10px;
  flex-direction: column;
  position: relative;
  margin: 0rem 3rem;
  height: 190px;
  z-index: 99;
  overflow-x: scroll;
}

.suggestion{
  display: flex;
  flex-direction: row;
  background-color: white;
  border: 1px solid #522424;
  font-size: 1.1rem;
  height: fit-content;
  padding: 0.5rem 1.5rem;

}

.suggestion-img{
  height: 40px;
  width: 25px;
  align-self: center;
}

.suggestion-text{
  color: black;
  margin: 5px;
}

.lists-container{
 border: 1px solid black;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 150px;
  left: 0;
  z-index: 1  ;
}

.sug-tag{
  padding: 0.5rem;
  font-weight: bold;
  border-radius: 5px;
  height: 13px;
  align-self: center;
}

.sug-tag.green{
 color: rgb(3, 199, 3);
}
.sug-tag.orange{
  color: orange
}
.sug-tag.red{
  color: red;
}

.signupContainer{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

.signInput{
  background-color: transparent;
  border: 2px solid #522424;
  color:white;
  font-size: 1.2rem;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
  margin-top: 5px;
}

.signupButton{
  margin-top: 5px;
  background-color: transparent;
  border: 2px solid #ca1919;
  color:white;
  font-size: 1.2rem;
  border-radius: 50px;
  padding: 0.5rem 1.5rem;
}