body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Averia" "Serif" "Libre",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #3B3A3A;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
